@import "../mixin.scss";

.nav-layout {
    display: flex;
    justify-content: center;

}

@mixin navCommon($nav-padding) {
    .nav-expander {
        background-color: #fff;
        box-shadow: 0 1px 5px -4px black;
        position:fixed;
        top:64px;
        left: 0;
        right: 0;
        z-index:10;
        display: flex;
        justify-content: center;
        .normal-nav {
            display: none;
        }

        .expand-nav{
            @media screen and (max-width: 1055px) {
                padding-left: 16px;
                padding-right: 16px;
            }
        }



    }
    
    nav {
        width: 100%;
        @include desktop {
            width: $breakpoint-desktop;
        }
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $nav-padding;

        > section {
            display: flex;
            align-items: center;
            height: 48px;

            > .nav-section-category {
                display: flex;
                gap: 10px;
                min-width: 132px;
                > h4 {
                    cursor: pointer;
                }
            }

            .nav-option {

                display: flex;
                align-items: center;
                gap: 10px;

                .nav-bars-icon {
                    cursor: pointer;
                    background-color: white;
                    width: 24px;        
                }
            }
        }
    }
 
}

@include navCommon(0 0);

@include desktop {
    @include navCommon(0 0);

    
}