@import "../mixin.scss";

@mixin navCommon($nav-padding) {
    nav {
        background-color: cadetblue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $nav-padding;

        > section {
            background-color: blueviolet;
            display: flex;
            align-items: center;
            height: 48px;

            > .nav-section-category {
                background-color: coral;
                display: flex;
                gap: 10px;
                min-width: 132px;
            }

            .nav-option {
                background-color: darkkhaki;
                display: flex;
                align-items: center;
                gap: 10px;

                .nav-bars-icon {
                    background-color: darkgoldenrod;
                    width: 24px;
                }
            }
        }
    }
 
}

@include navCommon(12px 16px);

@include desktop {
    @include navCommon(12px 0px);
}