
.detail-bg {
    flex: 1;
    background-color: #F8F9FA;
    max-width: 100rem;
    display: flex;
    justify-content: center;
    .detail {
        display: flex;
        justify-content: center;
        width: 450px;

        > .left {
            display: flex;
            flex-direction: column;
            gap: 24px;
            > h3 {
                margin: 0;
            }
            flex: 1 1 0%;
            > .image-bg {
                padding: 3rem 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                width: 100%;
                background-color: #E9ECEF;

                >button {
                    background-color: white;
                    color: #20C997;
                    border: none;
                    cursor: pointer;
                    outline: none;
                    font-size: 1rem;
                    padding: 0.25rem 2rem;
                    border-radius: 4px;
                    font-weight: bold;
                }
            }

            > .summary {
                width: 100%;
                
                > .summary-textarea {
                    width: 100%;
                    height: 7.375rem;
                    resize: none;
                    padding: 0.75rem 1rem;
                    border: 1px solid rgb(218, 218, 218);
                    outline: none;
                    box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 4px 0px;
                }

                > .counting-letters {
                    text-align: right;
                    margin-top: 0.25rem;
                    font-size: 0.75rem;
                    color: #868E96;
                }
            }

            > .buttons {
                display: flex;
                justify-content: end;
                gap: 8px;
                
                > .cancle {
                    color:#12B886;
                    border: none;
                    font-size: 1.125rem;
                    padding: 0 1.125rem;
                    font-weight: bold;
                    height: 2.5rem;
                    background-color: white;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        background: rgba(0,0,0,0.05);
                    }
                }

                > .post {
                    padding: 12px 16px;
                    font-size: 1rem;
                    font-weight: bold;
                    border: none;
                    border-radius: 5px;
                    color:white;
                    background-color: #12B886;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.9;

                    }
                }
            }
        }

        >.middle {
            width: 1px;
            margin: 0 2rem;
            background-color: #E9ECEF;
        }

        >.right {
            flex: 1 1 0%;
        }
    }

}
