@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
.posting {
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.posting > div > .for-size-bar {
  margin-top: 5.5rem;
}
.posting > div > .for-size-bar > h1 {
  line-height: 1.5;
  margin: 0;
  font-size: 3rem;
}
@media (max-width: 1024px) {
  .posting > div > .for-size-bar > h1 {
    font-size: 2.25rem;
  }
}
.posting .posting-info {
  display: flex;
  flex-direction: column;
}
.posting .posting-info > .top-user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.posting .posting-info > .top-user-info > .follow-like-btn {
  display: flex;
  gap: 8px;
}
.posting .posting-info > .top-user-info > .follow-like-btn > div > .like-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  outline: none;
  border: 1px solid #ADB5BD;
  height: 1.5rem;
  border-radius: 0.75rem;
  color: #868E96;
  background-color: white;
}
@media (min-width: 1024px) {
  .posting .posting-info > .top-user-info > .follow-like-btn > div > .like-btn {
    display: none;
  }
}
.posting .posting-info > .top-user-info > .follow-like-btn > div > .like-btn > .small-like-svg {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.75rem;
}
.posting .posting-info > .top-user-info > .follow-like-btn > div > .like-btn > span {
  display: block;
}
.posting .posting-info > .top-user-info > .follow-like-btn > .pushed-like > .like-btn {
  color: white;
  border: 1px solid #20C997;
  background-color: #20C997;
}
.posting .posting-info > div .posting-writer {
  font-weight: bold;
}
.posting .posting-info .main-image {
  width: 100%;
  margin: 7rem auto 0;
}
.posting .posting-info .main-image > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.posting .like-share-box {
  position: relative;
  top: 2rem;
  background-color: #F8F9FA;
}
@media (max-width: 1024px) {
  .posting .like-share-box {
    display: none;
  }
}
.posting .like-share-box > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: -7rem;
  width: 64px;
  height: 150px;
  background-color: #f8f9fa;
  border: 1px solid #F1F3F5;
  border-radius: 100px;
  padding: 8px;
}
.posting .like-share-box > div > .liked-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #20C997;
  color: white;
  border-radius: 100px;
  border: 1px solid #20C997;
}
.posting .like-share-box > div > .liked-heart:hover {
  opacity: 1;
}
.posting .like-share-box > div > .empty-heart {
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border-radius: 100px;
  border: 1px solid #DEE2E6;
}
.posting .like-share-box > div > .empty-heart:hover {
  opacity: 1;
  border: 1px solid black;
}
.posting .like-share-box > div .like-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}
.posting .like-share-box > div .like-count > p {
  font-weight: bold;
  font-size: 0.75rem;
  margin: 0;
}
.posting .like-share-box > div .share {
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border-radius: 100px;
  border: 1px solid #DEE2E6;
}
.posting .like-share-box > div .share:hover {
  opacity: 1;
  border: 1px solid black;
}
.posting > .next-prev {
  display: flex;
  justify-content: space-between;
}
.posting > .next-prev > a {
  text-decoration-line: none;
  color: black;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: #f8f9fa;
  padding: 0 1rem 0 1rem;
}
.posting > .next-prev > a > .arrow-svg {
  color: #20C997;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid #20C997;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 4px 0px;
}
.posting > .next-prev .other-post-info > div {
  font-size: 0.75rem;
  font-weight: bold;
}
.posting > .next-prev .other-post-info > h3 {
  margin: 0;
}
.posting > .next-prev > .prev {
  display: flex;
  justify-content: start;
}
.posting > .next-prev > .prev > div {
  margin-right: 1rem;
}
.posting > .next-prev > .next {
  margin-left: 3rem;
  display: flex;
  justify-content: end;
}
.posting > .next-prev > .next > div {
  margin-left: 1rem;
  text-align: right;
}
.posting > .comment-section > h4 {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 1rem;
}

.write-comment {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
}
.write-comment > .cancle {
  color: #12B886;
  background-color: #F8F9FA;
}
.write-comment > .cancle:hover {
  background: rgba(0, 0, 0, 0.05);
}
.write-comment > button {
  background-color: #12B886;
  color: #FFFFFF;
  padding: 0 1.25rem;
  height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  font-weight: bold;
  border-radius: 4px;
}
.write-comment > button:hover {
  background: #20C997;
}

.follow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.follow-btn > button {
  background-color: white;
  font-size: 16px;
  width: 96px;
  height: 32px;
  border: none;
  padding: 1px 6px;
  font-weight: bold;
  border-radius: 16px;
}
@media (max-width: 1024px) {
  .follow-btn > button {
    width: 80px;
    height: 24px;
    font-size: 16px;
  }
}
.follow-btn > .green {
  color: #12B886;
  border: 1px solid #12B886;
}
.follow-btn > .red:hover {
  color: #FF6B6B;
  border: 1px solid #FF6B6B;
}
.follow-btn > .black {
  color: black;
  border: 1px solid black;
}

.comment-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 100px;
}
.comment-list > .comment-box:not(:nth-child(1)) {
  border-top: 1px solid #c5ced3;
}

.comment-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.comment-box > .comment-info {
  display: flex;
  gap: 12px;
}
.comment-box > .comment-info > .user-image > a > img {
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 3.375rem;
  height: 3.375rem;
}
.comment-box > .comment-info > .username-write-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
.comment-box > .comment-info > .username-write-date > .username {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}
.comment-box > .comment-info > .username-write-date > .write-date {
  font-weight: 400;
  font-size: 0.875rem;
  color: #868E96;
}
.comment-box > .comment-content {
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
  color: black;
}
.comment-box > .re-comment {
  color: #12B886;
  font-weight: bold;
  font-size: 1rem;
}
.comment-box > .re-comment > .re-comment-btn {
  display: inline-block;
}
.comment-box > .re-comment > .re-comment-btn > svg {
  margin-right: 0.5rem;
}
.comment-box > .re-comment > .re-comment-btn:hover {
  cursor: pointer;
  color: #20C997;
}
.comment-box > .re-comment > .write-recomment-box {
  border: 1px solid rgba(0, 0, 0, 0.02);
  background-color: rgba(0, 0, 0, 0.016);
  margin-top: 1rem;
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.comment-box > .re-comment > .write-recomment-box > ul > .comment-box:not(:nth-child(1)) {
  border-top: 1px solid #c5ced3;
}
.comment-box > .re-comment > .write-recomment-box > div {
  display: flex;
  flex-direction: row-reverse;
}
.comment-box > .re-comment > .write-recomment-box > div > button {
  display: block;
}

.comment-input-window {
  width: 100%;
  resize: none;
  padding: 1rem 1rem 1.5rem;
  min-height: 6.125rem;
  line-height: 1.75;
  outline: none;
  overflow-y: hidden;
  border: 1px solid #F1F3F5;
  background-color: #FFFFFF;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin: 16rem 0 6rem 0;
  padding-bottom: 3rem;
  border-bottom: 1px solid #E9ECEF;
}
@media (max-width: 1024px) {
  .userInfo {
    margin-top: 8rem;
    margin-bottom: 3rem;
  }
}
@media (max-width: 768px) {
  .userInfo {
    margin-top: 2rem;
  }
  .userInfo > .userImage > img {
    width: 5rem;
    height: 5rem;
  }
}
.userInfo .userImage > img {
  border-radius: 100px;
}
.userInfo .user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
@media (max-width: 768px) {
  .userInfo .user > h2 {
    font-size: 1.125rem;
  }
}/*# sourceMappingURL=post.css.map */