@import "../mixin.scss";


// 사이즈에 상관 없이 똑같이 적용되는 스타일
@mixin headerCommon($header-logo-font-size, $header-padding) {
    header {
        top:0;
        position:fixed;
        width:100%;
        max-width: $breakpoint-desktop;
        z-index: 10;
        display:flex;
        align-items: center;
        justify-content: space-between;
        background-color: antiquewhite;
        height: 64px;
        padding: $header-padding;

        > h1 {
            cursor: pointer;
            font-size: ($header-logo-font-size);
            background-color: aqua;
            margin-right: 15px;

            > a {
                color: black;
                text-decoration-line: none;
            }
        }

        > div {
            display: flex;
            align-items: center;
            gap: 15px;
            
            .alarm {
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                &:hover {
                    background-color: rgb(215, 215, 215);
                    border-radius: 50%;
                }
            }

            .header-icons {
                cursor: pointer;
                width: 24px;
                height: 24px;
            }

            .loggedInDiv {
                display: flex;
                gap: 8px;
                align-items: center;
                
                >button {
                    transition: 0.15s ease-in-out;
                    border-radius: 40px;
                    font-size: 16px;
                    font-weight: bold;
                    padding: 1px 16px;
                    height: 32px;
                    min-width: 80px;
                    border: 1px solid black;
                    &:hover {
                        cursor: pointer;
                        outline: none;
                        color:white;
                        background-color: black;
                        
                    }

                    > a {
                        text-decoration-line: none;
                        color: black;
                    }

                }
                > div {
                    >img {
                        border-radius: 100px;
                        width:2.5rem;
                        height: 2.5rem;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            > button {
                &:hover {
                    background-color: #343a40;
                }
                cursor: pointer;
                border: none;
                outline: none;
                color:white;
                background-color: black;
                border-radius: 40px;
                font-size: 16px;
                font-weight: bold;
                padding: 1px 16px;
                height: 32px;
                min-width: 80px;
            }
        }
        
    }
}

// 모바일과 테블릿에서만 적용되는 스타일
@include headerCommon(20px, 12px 16px);


// 데스크탑
@include desktop {
    @include headerCommon(24px, 12px 0px);
}

