header {
  top: 0;
  position: fixed;
  width: 100%;
  max-width: 1026px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: antiquewhite;
  height: 64px;
  padding: 12px 16px;
}
header > h1 {
  cursor: pointer;
  font-size: 20px;
  background-color: aqua;
  margin-right: 15px;
}
header > h1 > a {
  color: black;
  text-decoration-line: none;
}
header > div {
  display: flex;
  align-items: center;
  gap: 15px;
}
header > div .alarm {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
header > div .alarm:hover {
  background-color: rgb(215, 215, 215);
  border-radius: 50%;
}
header > div .header-icons {
  cursor: pointer;
  width: 24px;
  height: 24px;
}
header > div .loggedInDiv {
  display: flex;
  gap: 8px;
  align-items: center;
}
header > div .loggedInDiv > button {
  transition: 0.15s ease-in-out;
  border-radius: 40px;
  font-size: 16px;
  font-weight: bold;
  padding: 1px 16px;
  height: 32px;
  min-width: 80px;
  border: 1px solid black;
}
header > div .loggedInDiv > button:hover {
  cursor: pointer;
  outline: none;
  color: white;
  background-color: black;
}
header > div .loggedInDiv > button > a {
  text-decoration-line: none;
  color: black;
}
header > div .loggedInDiv > div > img {
  border-radius: 100px;
  width: 2.5rem;
  height: 2.5rem;
}
header > div .loggedInDiv > div > img:hover {
  cursor: pointer;
}
header > div > button {
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  background-color: black;
  border-radius: 40px;
  font-size: 16px;
  font-weight: bold;
  padding: 1px 16px;
  height: 32px;
  min-width: 80px;
}
header > div > button:hover {
  background-color: #343a40;
}

@media (min-width: 1026px) {
  header {
    top: 0;
    position: fixed;
    width: 100%;
    max-width: 1026px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    height: 64px;
    padding: 12px 0px;
  }
  header > h1 {
    cursor: pointer;
    font-size: 24px;
    background-color: aqua;
    margin-right: 15px;
  }
  header > h1 > a {
    color: black;
    text-decoration-line: none;
  }
  header > div {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  header > div .alarm {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
  header > div .alarm:hover {
    background-color: rgb(215, 215, 215);
    border-radius: 50%;
  }
  header > div .header-icons {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
  header > div .loggedInDiv {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  header > div .loggedInDiv > button {
    transition: 0.15s ease-in-out;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    padding: 1px 16px;
    height: 32px;
    min-width: 80px;
    border: 1px solid black;
  }
  header > div .loggedInDiv > button:hover {
    cursor: pointer;
    outline: none;
    color: white;
    background-color: black;
  }
  header > div .loggedInDiv > button > a {
    text-decoration-line: none;
    color: black;
  }
  header > div .loggedInDiv > div > img {
    border-radius: 100px;
    width: 2.5rem;
    height: 2.5rem;
  }
  header > div .loggedInDiv > div > img:hover {
    cursor: pointer;
  }
  header > div > button {
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    background-color: black;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    padding: 1px 16px;
    height: 32px;
    min-width: 80px;
  }
  header > div > button:hover {
    background-color: #343a40;
  }
}/*# sourceMappingURL=header.css.map */