@import "../mixin.scss";

// 사이즈에 상관 없이 똑같이 적용되는 스타일
@mixin headerCommon($header-logo-font-size, $header-padding) {
    header {
        display:flex;
        align-items: center;
        justify-content: space-between;
        background-color: antiquewhite;
        height: 40px;
        padding: $header-padding
    }

    .header-logo {
        font-size: ($header-logo-font-size);
        background-color: aqua;
        margin-right: 15px;
    }

    .header-buttons {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    .header-icons {
        background-color: blueviolet;
        width: 24px;
        height: 24px;
    }
    
    .header-login-button{
        border: none;
        outline: none;
        color:white;
        background-color: black;
        border-radius: 40px;
        font-size: 16px;
        font-weight: bold;
        padding: 1px 16px;
        height: 32px;
        min-width: 80px;
    }
}

// 모바일과 테블릿에서만 적용되는 스타일
@mixin mobileAndTablet() {
    @include headerCommon(20px, 12px 16px);

}

// 사실 모바일과 테블릿은 같음. 하지만 혹시 몰라서 모바일, 테블릿 분리해놨고, 일단 여기서는 함께 사용
@include mobileAndTablet();

// 데스크탑일때만 적용되는
@include desktop {
    @include headerCommon(24px, 12px 0px);
}

