@import "../mixin.scss";


@font-face {
    font-family: 'HakgyoansimPuzzleTTF-Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimPuzzleTTF-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
// 사이즈에 상관 없이 똑같이 적용되는 스타일

@mixin headerCommon($header-logo-font-size, $header-padding) {
    .header-expander {
        background-color: #fff;
        position: fixed;
        top:0;
        left: 0;
        right:0;
        z-index: 20;
        display: flex;
        justify-content: space-between;

        
        .normal-header {
        display: none;
        }

        .expand-header{
            margin-left: auto;
            margin-right:auto;
            @include desktop {
                width: $breakpoint-desktop;
            }
            @media screen and (max-width: 1055px) {
                padding-left: 16px;
                padding-right: 16px;
            }
        }
    }

    header {
        width: 100%;

        margin-left: auto;
        margin-right: auto;
        display:flex;
        align-items: center;
        justify-content: space-between;
        height: 64px;
        padding: $header-padding;

        > h1 {
            cursor: pointer;
            font-size: ($header-logo-font-size);
            margin-right: 15px;
            font-family: HakgyoansimPuzzleTTF-Black;

            .logo-and-nickname {
                display:flex;
                gap: 12px;
                .logo-box {
                    background-color: black;
                    color:white;
                    width: 35px;
                    text-align: center;
                    border-radius: 5px;;
                }
            }
            

            > a {
                color: black;
                text-decoration-line: none;
            }
        }

        > .header-buttons {
            display: flex;
            align-items: center;
            gap: 15px;
            position: relative;
            
            .alarm {
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                &:hover {
                    background-color: rgb(215, 215, 215);
                    border-radius: 50%;
                }
            }

            .header-icons {
                cursor: pointer;
                width: 24px;
                height: 24px;
            }

            .loggedInDiv {
                display: flex;
                gap: 8px;
                align-items: center;

                >.write {
                    @media (max-width: 1024px) {
                        display: none;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
                
                > .detail {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    >img {
                        border-radius: 100px;
                        width:2.5rem;
                        height: 2.5rem;
                    }
                }
                
                > button {
                    transition: 0.15s ease-in-out;
                    border-radius: 40px;
                    font-size: 16px;
                    font-weight: bold;
                    padding: 1px 16px;
                    height: 32px;
                    min-width: 80px;
                    border: 1px solid black;
                    &:hover {
                        cursor: pointer;
                        outline: none;
                        color:white;
                        background-color: black;
                        
                    }

                    > a {
                        text-decoration-line: none;
                        color: black;
                    }

                }

                > .menu {
                    position: absolute;
                    width: 12rem;
                    background-color: white;
                    right: 0;
                    top: 100%;
                    margin-top: 1rem;
                    z-index: 30;
                    display: flex;
                    flex-direction: column;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
                    > div {
                        position: relative;

                        > .responsive-write {
                            display: none;
                            @media (max-width: 1024px) {
                                display: block;
                            }
                        }
                        > a {
                            display: block;
                            cursor: pointer;

                            
                            &:hover {
                                background: #F8F9FA;
                                color:#12B886;
                            }
                            > div{
                                padding: 0.75rem 1rem;

                                
                            }

                            
                            
                        }
                    }
                    

                }
            }

            > button {
                &:hover {
                    background-color: #343a40;
                }
                cursor: pointer;
                border: none;
                outline: none;
                color:white;
                background-color: black;
                border-radius: 40px;
                font-size: 16px;
                font-weight: bold;
                padding: 1px 16px;
                height: 32px;
                min-width: 80px;
            }
        }
        
    }


}



.header-layout {
    display: flex;
    flex-direction: column;
    width: 100%;

    > div {
        width: 100%;
        > div {
            width: 100%;
        }
    }
    // 모바일과 테블릿에서만 적용되는 스타일
    @include headerCommon(20px, 12px 0);


    // 데스크탑
    @include desktop {
        @include headerCommon(24px, 12px 0);
    }
    
}

