@font-face {
  font-family: "HakgyoansimPuzzleTTF-Black";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimPuzzleTTF-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.header-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header-layout > div {
  width: 100%;
}
.header-layout > div > div {
  width: 100%;
}
.header-layout .header-expander {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
}
.header-layout .header-expander .normal-header {
  display: none;
}
.header-layout .header-expander .expand-header {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1024px) {
  .header-layout .header-expander .expand-header {
    width: 1024px;
  }
}
@media screen and (max-width: 1055px) {
  .header-layout .header-expander .expand-header {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.header-layout header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 12px 0;
}
.header-layout header > h1 {
  cursor: pointer;
  font-size: 20px;
  margin-right: 15px;
  font-family: HakgyoansimPuzzleTTF-Black;
}
.header-layout header > h1 .logo-and-nickname {
  display: flex;
  gap: 12px;
}
.header-layout header > h1 .logo-and-nickname .logo-box {
  background-color: black;
  color: white;
  width: 35px;
  text-align: center;
  border-radius: 5px;
}
.header-layout header > h1 > a {
  color: black;
  text-decoration-line: none;
}
.header-layout header > .header-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}
.header-layout header > .header-buttons .alarm {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.header-layout header > .header-buttons .alarm:hover {
  background-color: rgb(215, 215, 215);
  border-radius: 50%;
}
.header-layout header > .header-buttons .header-icons {
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.header-layout header > .header-buttons .loggedInDiv {
  display: flex;
  gap: 8px;
  align-items: center;
}
@media (max-width: 1024px) {
  .header-layout header > .header-buttons .loggedInDiv > .write {
    display: none;
  }
}
.header-layout header > .header-buttons .loggedInDiv:hover {
  cursor: pointer;
}
.header-layout header > .header-buttons .loggedInDiv > .detail {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header-layout header > .header-buttons .loggedInDiv > .detail > img {
  border-radius: 100px;
  width: 2.5rem;
  height: 2.5rem;
}
.header-layout header > .header-buttons .loggedInDiv > button {
  transition: 0.15s ease-in-out;
  border-radius: 40px;
  font-size: 16px;
  font-weight: bold;
  padding: 1px 16px;
  height: 32px;
  min-width: 80px;
  border: 1px solid black;
}
.header-layout header > .header-buttons .loggedInDiv > button:hover {
  cursor: pointer;
  outline: none;
  color: white;
  background-color: black;
}
.header-layout header > .header-buttons .loggedInDiv > button > a {
  text-decoration-line: none;
  color: black;
}
.header-layout header > .header-buttons .loggedInDiv > .menu {
  position: absolute;
  width: 12rem;
  background-color: white;
  right: 0;
  top: 100%;
  margin-top: 1rem;
  z-index: 30;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}
.header-layout header > .header-buttons .loggedInDiv > .menu > div {
  position: relative;
}
.header-layout header > .header-buttons .loggedInDiv > .menu > div > .responsive-write {
  display: none;
}
@media (max-width: 1024px) {
  .header-layout header > .header-buttons .loggedInDiv > .menu > div > .responsive-write {
    display: block;
  }
}
.header-layout header > .header-buttons .loggedInDiv > .menu > div > a {
  display: block;
  cursor: pointer;
  text-decoration-line: none;
  color: black;
}
.header-layout header > .header-buttons .loggedInDiv > .menu > div > a:hover {
  background: #F8F9FA;
  color: #12B886;
}
.header-layout header > .header-buttons .loggedInDiv > .menu > div > a > div {
  padding: 0.75rem 1rem;
}
.header-layout header > .header-buttons > button {
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  background-color: black;
  border-radius: 40px;
  font-size: 16px;
  font-weight: bold;
  padding: 1px 16px;
  height: 32px;
  min-width: 80px;
}
.header-layout header > .header-buttons > button:hover {
  background-color: #343a40;
}
@media (min-width: 1024px) {
  .header-layout .header-expander {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    display: flex;
    justify-content: space-between;
  }
  .header-layout .header-expander .normal-header {
    display: none;
  }
  .header-layout .header-expander .expand-header {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .header-layout .header-expander .expand-header {
    width: 1024px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1055px) {
  .header-layout .header-expander .expand-header {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 1024px) {
  .header-layout header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 12px 0;
  }
  .header-layout header > h1 {
    cursor: pointer;
    font-size: 24px;
    margin-right: 15px;
    font-family: HakgyoansimPuzzleTTF-Black;
  }
  .header-layout header > h1 .logo-and-nickname {
    display: flex;
    gap: 12px;
  }
  .header-layout header > h1 .logo-and-nickname .logo-box {
    background-color: black;
    color: white;
    width: 35px;
    text-align: center;
    border-radius: 5px;
  }
  .header-layout header > h1 > a {
    color: black;
    text-decoration-line: none;
  }
  .header-layout header > .header-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
  }
  .header-layout header > .header-buttons .alarm {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
  .header-layout header > .header-buttons .alarm:hover {
    background-color: rgb(215, 215, 215);
    border-radius: 50%;
  }
  .header-layout header > .header-buttons .header-icons {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
  .header-layout header > .header-buttons .loggedInDiv {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}
@media (min-width: 1024px) and (max-width: 1024px) {
  .header-layout header > .header-buttons .loggedInDiv > .write {
    display: none;
  }
}
@media (min-width: 1024px) {
  .header-layout header > .header-buttons .loggedInDiv:hover {
    cursor: pointer;
  }
  .header-layout header > .header-buttons .loggedInDiv > .detail {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .header-layout header > .header-buttons .loggedInDiv > .detail > img {
    border-radius: 100px;
    width: 2.5rem;
    height: 2.5rem;
  }
  .header-layout header > .header-buttons .loggedInDiv > button {
    transition: 0.15s ease-in-out;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    padding: 1px 16px;
    height: 32px;
    min-width: 80px;
    border: 1px solid black;
  }
  .header-layout header > .header-buttons .loggedInDiv > button:hover {
    cursor: pointer;
    outline: none;
    color: white;
    background-color: black;
  }
  .header-layout header > .header-buttons .loggedInDiv > button > a {
    text-decoration-line: none;
    color: black;
  }
  .header-layout header > .header-buttons .loggedInDiv > .menu {
    position: absolute;
    width: 12rem;
    background-color: white;
    right: 0;
    top: 100%;
    margin-top: 1rem;
    z-index: 30;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  }
  .header-layout header > .header-buttons .loggedInDiv > .menu > div {
    position: relative;
  }
  .header-layout header > .header-buttons .loggedInDiv > .menu > div > .responsive-write {
    display: none;
  }
}
@media (min-width: 1024px) and (max-width: 1024px) {
  .header-layout header > .header-buttons .loggedInDiv > .menu > div > .responsive-write {
    display: block;
  }
}
@media (min-width: 1024px) {
  .header-layout header > .header-buttons .loggedInDiv > .menu > div > a {
    display: block;
    cursor: pointer;
    text-decoration-line: none;
    color: black;
  }
  .header-layout header > .header-buttons .loggedInDiv > .menu > div > a:hover {
    background: #F8F9FA;
    color: #12B886;
  }
  .header-layout header > .header-buttons .loggedInDiv > .menu > div > a > div {
    padding: 0.75rem 1rem;
  }
  .header-layout header > .header-buttons > button {
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    background-color: black;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    padding: 1px 16px;
    height: 32px;
    min-width: 80px;
  }
  .header-layout header > .header-buttons > button:hover {
    background-color: #343a40;
  }
}/*# sourceMappingURL=header.css.map */