@import "./styles/mixin.scss";

.App {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
        width: 100%;
        > .layout {
            width: 100%;
            margin: 0 auto;
    
            @include desktop {
                max-width: $breakpoint-desktop;
            }
    
            @media screen and (max-width: 1055px) {
                padding-left: 16px;
                padding-right: 16px;
            }
            
        }
    }
};

.loading {
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1000;
}